<h3 mat-dialog-title>Form Employee</h3>
<mat-divider></mat-divider>
<mat-dialog-content>
  <form [formGroup]="employeeForm">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="username" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>firstname</mat-label>
      <input matInput formControlName="firstname" placeholder="firstname" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>lastname</mat-label>
      <input matInput formControlName="lastname" placeholder="lastname" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="email" />
      <mat-error *ngIf="getEmailErrorMessage()">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Birth Date</mat-label>
      <input matInput formControlName="birthDate" [matDatepicker]="picker" [(ngModel)]="selectedDate" (change)="onDateChange()" [max]="maxDate"/>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Basic Salary</mat-label>
      <input
        matInput
        type="number"
        formControlName="basicSalary"
        placeholder="basic salary"
      />
    </mat-form-field>
    <label id="example-radio-group-label">Status</label>
    <mat-radio-group
      formControlName="status"
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let status of status"
        [value]="status"
      >
        {{ status }}
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline">
      <mat-label>Group</mat-label>
      <mat-select formControlName="group" placeholder="">
        <mat-option value="Finance">Finance</mat-option>
        <mat-option value="HR">HR</mat-option>
        <mat-option value="Operational">Operational</mat-option>
        <mat-option value="Marketing">Marketing</mat-option>
        <mat-option value="Product">Product</mat-option>
        <mat-option value="Sales">Sales</mat-option>
        <mat-option value="Customer Service">Customer Service</mat-option>
        <mat-option value="IT">IT</mat-option>
        <mat-option value="Research">Research</mat-option>
        <mat-option value="Development">Development</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        formControlName="description"
        placeholder="description"
      ></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions [align]="'end'">
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  <button mat-raised-button color="primary" (click)="addEmployee()">
    {{ actionBtn }}
  </button>
</mat-dialog-actions>
