.example-spacer {
  flex: 1 1 auto;
}

.accent {
  color: yellow;
}

.table-responsive {
  overflow-x: auto;
}

td.mat-cell {
  padding: 16px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding: 16px;
}

th.mat-header-cell {
  padding: 16px;
}

.mat-header-cell {
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}
