<div class="login-form-flex">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Login </mat-card-title>
    </mat-card-header>
    <br />
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field appearance="outline">
          <input matInput formControlName="username" placeholder="Username" />
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
          <input
            type="password"
            formControlName="password"
            matInput
            placeholder="Password"
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <div class="button-flex-container">
          <button mat-raised-button color="primary" type="submit">Login</button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

