.login-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button-flex-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.card {
    background:  hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%,  hsla(205, 46%, 30%, 1) 0%);
}